# Configuration Supabase
SUPABASE_URL= https://xcbdinccvpmsxxlsuunw.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjYmRpbmNjdnBtc3h4bHN1dW53Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk2NDQ0MDMsImV4cCI6MjA3NTIyMDQwM30.DhvKCGJrky9yN93oqIf1WzK-0XfxKVlLBX_Nd9bHBqA
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjYmRpbmNjdnBtc3h4bHN1dW53Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1OTY0NDQwMywiZXhwIjoyMDc1MjIwNDAzfQ.x6kqDsdHvq0_7V8KC9FoNzyoz06jSoN2q6r03MhXrNQ

# Configuration JWT
JWT_SECRET=0e0ajDvk3iYdlwn28BfagQFPMWvzBE/cyDtnOy3uhWVOIn4+ZMM6ENN4sAkFoJ0pQGj0PtSS1qApSPFnaGPJyg==
JWT_EXPIRES_IN=24h

# Configuration Serveur
PORT=3001
NODE_ENV=development

# Configuration CORS
FRONTEND_URL=http://localhost:5173

